.av{
    width: 8em;
    height: 3em;
    color: white;
    font-size: 12px;
    font-family: sans-serif;
}
.p{
    margin-top: 5px;
    margin-left: 5px;
    font-size: 9px;
}
.para{
    font-weight: 700;
    margin-top: -15px;
    margin-left: 5px;
    font-size: 10px;
}

.av:hover{
    border: 2px solid white;
}